$primary: #fc8019;
$secondary: #202020;

$btn-border-radius: 0.625rem;
$btn-padding-y: 1rem;
$btn-padding-x: 2rem;
$btn-font-weight: 700;

$input-border-radius: 0.625rem;
$input-padding-y: 1rem;
$input-padding-x: 1rem;
$input-font-size: 1.25rem;
$input-border-width: 2px;
$input-border-color: $primary;
$input-focus-border-color: $primary;
$input-focus-box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);

$custom-greys: (
  'grey-100': #f8f8f8,
  'grey-200': #e0e0e0,
  'grey-300': #cfcfcf,
  'grey-400': #bfbfbf,
  'grey-500': #a0a0a0,
  'grey-600': #7f7f7f,
  'grey-700': #5f5f5f,
  'grey-800': #3f3f3f,
  'grey-900': #202020,
);

$custom-primary-shades: (
  'primary-100': #ffe5d2,
  'primary-200': #ffc4a3,
  'primary-300': #ffa375,
  'primary-400': #ff8246,
  'primary-500': #fc8019,
  'primary-600': #cc6714,
  'primary-700': #995010,
  'primary-800': #66390b,
  'primary-900': #332105,
);

$custom-colors: (
  'primary': $primary,
  'secondary': $secondary,
);

$theme-colors: if(global-variable-exists(theme-colors), $theme-colors, ());

$theme-colors: map-merge(
  $theme-colors,
  map-merge(map-merge($custom-colors, $custom-greys), $custom-primary-shades)
);
